.fullpost{
    font-family: 'Proxima Nova', sans-serif;
    padding-bottom: 50px;
    &__wrapper{
        display: flex;
        justify-content: center;
        gap: 135px;
        margin-top: 55px;
        @media(max-width: 414px){
            gap: 20px;
            flex-direction: column;
        }
    }
    &__main{
        max-width: 720px;
        @media(max-width: 414px){
            max-width: 370px;
            margin: 0 auto;
        }
    }
    &__map{
        max-width: 402px;
        @media(max-width: 414px){
            width: 370px;
            margin: 0 auto;
        }
    }
    &__back{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 215px;
        height: 50px;
        margin: 85px 0 0 230px;
        background-color: rgba(56, 69, 100, 0.14);
        border-radius: 8px;
        text-decoration: none;
        transition: 0.3s ease-in;
        cursor: pointer;
        @media(max-width: 414px){
            margin: 55px auto 15px auto;
        }
        &:hover{
            transition: 0.3s ease-out;
            background-color: rgba(56, 69, 100, 0.2);
        }
            &-button{
                opacity: 1;
                border-radius: 8px;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                color: #3A4562;
                padding-left: 20px;
            &::after{
                content: "";
                width: 12px;
                height: 12px;
                border: solid #384564;
                border-width: 3px 0 0 3px;
                transform: translate(130%, 5%) rotate(-45deg);
                position: absolute;
                left: 0;
            }
        }
    }
    &__error-title{
        padding-top: 300px;
        font-weight: bold;
        font-size: 36px;
        line-height: 25px;
        letter-spacing: -0.625px;
        color: #3A4562;
        text-align: center;
    }
    &__error-text{
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.23619px;
        color: #878D9D;
        text-align: center;
    }
}

.main__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(58, 69, 98, 0.13);
    @media(max-width: 414px){
        gap: 20px;
        flex-direction: column;
        border-bottom: none;
    }
        &-block{
            display: flex;
            flex-direction: row;
            @media(max-width: 414px){
                padding-bottom: 9px;
                border-bottom: 1px solid rgba(58, 69, 98, 0.13);
            }
        }
        &__header-title{
            font-weight: 700;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: 0.413333px;
            color: #3A4562;
        }
        &-svgs{
            display: flex;
            flex-direction: row;
            gap: 30px;
            user-select: none;
        }
        &-svg{
            display: flex;
            flex-direction: row;
            gap: 15px;
            cursor: pointer;
            transition: 0.2s ease;
            @media(max-width: 414px){
                gap: 10px;
            }
            &:hover{
                transition: 0.2s ease;
                opacity: 0.7;
            }
        }
        &-text{
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -0.5625px;
            color: #3A4562;
            font-stretch: 100;
        }
}

.main__info{
    display: flex;
    justify-content: space-between;
    position: relative;
    &-left{
        flex: 0 1 70%;
        @media(max-width:414px){
            flex: 0 1 100%;
            flex-wrap: wrap;
        }
    }
    &-right{
        @media(max-width:414px){
            display: inline-flex;
            flex-direction: column-reverse;
            align-items: flex-end;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    &-title{
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: -0.75px;
        color: #3A4562;
    }
    &-posted{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: rgba(56, 65, 93, 0.355988);
        font-stretch: 100;
        padding: 7px 0;
    }
    &-price{
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.625px;
        color: #3A4562;
    }
    &-peryear{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: #3A4562;
        font-stretch: 100;
        
    }
}

.main__description{
    display: flex;
    flex-direction: column;
    @media(max-width: 414px){
            margin-top: 15px;
    }
    &-text{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: #3A4562;
        font-stretch: 100;
        padding-bottom: 15px;
    }
    &-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.625px;
        color: #3A4562;
        padding: 15px 0px;
    }
    &-subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: #3A4562;
        font-stretch: 100;
        &:last-child{
            padding-bottom: 30px
        }
    }
    &-benefits{
        @extend .main__description-subtitle;
        list-style-type: square;
    }
    &-button{
        padding: 18px 0;
        max-width: 130px;
        background: #384564;
        border-radius: 8px;
        border: none;
        font-weight: 600;
        font-size: 12px;    
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer;
        transition: 0.2s ease;
        &:hover{
            transition: 0.2s ease;
            opacity: 0.9;
        }
        @media(max-width:414px){
            margin: 0 auto;
            width: 130px;
        }
    }
}

.main__lists{
    @media(max-width:414px){
        display: flex;
        flex-direction: column-reverse;
    }
}

.main__employment{
    display: flex;
    flex-direction: column;
    &-title{
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.413333px;
        color: #3A4562;
        padding: 85px 0 5px 0px;
        border-bottom: 1px solid rgba(58, 69, 98, 0.13);
        @media(max-width:414px){
            padding: 55px 0 5px 0;
        }
    }
    &-subtitle{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: #3A4562;
        font-stretch: 100;
        padding: 15px 0 10px 0;
    }
    &-list{
        display: flex;
        gap: 8px;
    }   
    &-type{
        flex: 0 1 222px;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        letter-spacing: -0.457143px;
        color: #55699E;
        background: rgba(161, 177, 219, 0.317343);
        border: 1px solid rgba(85, 105, 158, 0.3);
        border-radius: 8px;
        padding: 16px;
    }
    &-benefits{
        @extend .main__employment-type;
        color: #988B49;
        background: rgba(255, 207, 0, 0.15);
        border: 1px solid #FFCF00;
    }
}

.main__images{
    &-title{
        @extend .main__employment-title;
        @media(max-width:414px){
            position: sticky;
        }
    }
    &-block{
        @media(max-width:414px){
        overflow: auto;
    }
    }
    &-list{
        @extend .main__employment-list;
        @media(max-width:414px){
            display: inline-flex;
        }
    }
    &-image{
        margin-top: 12px;
        width: 345px;
        height: 135px;
        background: #D8D8D8;
        border-radius: 8px;
        @media(max-width:414px){
            width: 209px;
        }
    }
}

.map__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.413333px;
    color: #3A4562;
    padding: 85px 0 5px 0px;
    border-bottom: 1px solid rgba(58, 69, 98, 0.13);
    margin-bottom: 10px;
    padding: 55px 0 5px 0;
}

.map__wrapper{
    width: 400px;
    height: 436px;
    background-color: #2A3047;
    border-radius: 8px;
    @media(max-width:414px){
        max-width: 370px;
    }
}

.map__block{
    display: flex;
    flex-direction: column;
    padding: 30px 60px 20px 60px;
    background: url(https://i.imgur.com/N5ni4D8.png) no-repeat left/45%;
    border-radius: 8px;
    &-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: -0.625px;
        color: #E7EAF0;
        padding-bottom: 8px;
    }
    &-location{
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    &-text{
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.5625px;
        color: #E8EBF3;
        font-stretch: 100;
    }
    &-map{
        display: flex;
        justify-content: center;
    }
}